ipykernel
ipythontutor
ipywidgets
numpy
matplotlib
mpi4py 

# jupyter tools
#
rise
jupyter-contrib-nbextensions
jupytext[myst]

# output html static 
ipypublish[sphinx]
sphinx-rtd-theme
jupyter_client
# pin panflute to avoid this mysterious-looking error in readthedocs build
# TypeError: ('invalid api version', [1, 17, 0, 5])
panflute==1.12
